/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'als_rublregular';
  src: url('../fonts/rouble-webfont.eot');
  src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.ttf') format('truetype'), url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Parangon 310C';
  src: url('../fonts/Parangon 310C.woff') format('woff'), url('../fonts/Parangon 310C.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Parangon 210C';
  src: url('../fonts/Parangon 210C.woff') format('woff'), url('../fonts/Parangon 210C.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Parangon 220C';
  src: url('../fonts/Parangon 220C.woff') format('woff'), url('../fonts/Parangon 220C.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PF Din Display Pro';
  src: url('../fonts/pfdindisplaypro-reg.ttf') format('ttf'), url('../fonts/pfdindisplaypro-reg.eot') format('eot'), url('../fonts/pfdindisplaypro-reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
.pseudo {
  content: '';
  position: absolute;
}
.resetul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
.rub {
  font-family: 'als_rublregular';
}
.rub:after {
  position: relative;
  content: 'a';
  font-weight: 300;
  text-transform: none;
}
h1,
.h1 {
  font-weight: 300;
  font-size: 36px;
  font-size: 2.1818181818181817rem;
}
.h1--center {
  text-align: center;
}
.h1--bolder {
  font-weight: 600;
}
.h1--line {
  position: relative;
}
.h1--line span {
  z-index: 5;
  background-color: #fff;
  position: relative;
  padding: 0 10px;
}
.h1--line:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  z-index: 4;
  border-bottom: 3px double #d7dddf;
  left: 0;
  top: 50%;
}
h2,
.h2 {
  font-size: 30px;
  font-size: 1.8181818181818181rem;
  line-height: 34px;
  line-height: 2.0606060606060606rem;
  font-weight: 300;
}
h4,
.h4 {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.0909090909090908rem;
  text-transform: uppercase;
}
p {
  color: #666666;
  line-height: 18px;
  line-height: 1.0909090909090908rem;
}
a {
  color: #009dd7;
  text-decoration: underline;
}
a:hover {
  color: #7be1fc;
}
::-webkit-input-placeholder {
  color: #004353;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
::-moz-placeholder {
  color: #004353;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: #004353;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
/* Firefox 18- */
::-ms-input-placeholder {
  color: #004353;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
/* ==========================================================================
   Main&Common
   ========================================================================== */
html,
body {
  margin: 0;
}
body {
  font: 13px/16px 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #004353;
  background: #fff;
  min-width: 1060px;
}
.layout {
  position: relative;
  overflow: hidden;
}
.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__top-line,
.footer__top-line,
.advantages {
  background-color: #004353;
}
.clear {
  clear: both;
}
.recallme {
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 25px;
  color: #009dd7;
  text-decoration: none;
  position: relative;
}
.recallme span {
  border-bottom: 1px dashed #009dd7;
  display: inline-block;
}
.recallme::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 22px;
  background: url(../images/sprite1.png) -25px -146px no-repeat;
  left: 0;
}
.recallme:hover {
  color: #7be1fc;
}
.recallme:hover span {
  border-bottom: 1px dashed #7be1fc;
}
.recallme:hover::before {
  background: url(../images/sprite1.png) -3px -146px no-repeat;
}
.link-header {
  font-size: 19px;
  font-size: 1.1515151515151516rem;
  font-weight: 700;
  display: inline-block;
}
.link-header--smaller {
  font-size: 15px;
  font-size: 0.9090909090909091rem;
}
/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
  background: none;
  padding: 10px 25px;
  font-weight: 700;
  text-decoration: none;
}
.btn-volume {
  color: #fff;
  background-color: #009dd7;
  background-image: linear-gradient(to bottom, #24c4ff, #009dd7);
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  word-spacing: 0.3em;
  box-shadow: 0 15px 7px -10px rgba(0, 0, 0, 0.4), 0 3px 0 0 #0099d2;
}
.btn-volume:hover {
  color: #fff;
}
.btn-volume:hover {
  background-image: linear-gradient(to bottom, #0bbdff, #008abe);
}
.btn-volume:active {
  background-image: linear-gradient(to bottom, #009dd7, #24c4ff);
}
.btn--main {
  border: 3px solid #004353;
  color: #004353;
  margin-top: 5px;
}
.btn--main:hover {
  border: 3px solid #000;
  color: #000;
}
.btn--blue {
  padding: 5px 15px;
  border: 3px solid #009dd7;
  color: #009dd7;
  display: block;
}
.btn--blue:hover {
  border: 3px solid #7be1fc;
  color: #7be1fc;
}
/* ==========================================================================
   Forms
   ========================================================================== */
.custom-text {
  border: 1px solid #bcc7c9;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 20px;
}
.custom-text:focus::-webkit-input-placeholder {
  color: transparent;
}
.custom-text:focus::-moz-placeholder {
  color: transparent;
}
.custom-text:focus:-moz-placeholder {
  color: transparent;
}
.custom-text:focus:-ms-input-placeholder {
  color: transparent;
}
.custom-textarea {
  border: 1px solid #bcc7c9;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 20px;
}
.custom-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.custom-textarea:focus::-moz-placeholder {
  color: transparent;
}
.custom-textarea:focus:-moz-placeholder {
  color: transparent;
}
.custom-textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* ==========================================================================
   Tables
   ========================================================================== */
.custom-table {
  width: 100%;
}
.custom-table td,
.custom-table th {
  padding: 0;
}
.custom-table th {
  padding: 13px 10px;
  font-size: 15px;
  font-size: 0.9090909090909091rem;
  line-height: 24px;
  line-height: 1.4545454545454546rem;
  font-weight: 700;
  text-align: left;
}
.custom-table td {
  padding: 7px 10px;
  vertical-align: middle;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
.custom-table tr:nth-child(even) td {
  background: #f2f4f4;
}
.custom-table th:first-child,
.custom-table td:first-child {
  border-radius: 4px 0 0 4px;
}
.custom-table th:last-child,
.custom-table td:last-child {
  border-radius: 0 4px 4px 0;
}
/* ==========================================================================
   Header - main
   ========================================================================== */
.header__flex-cont {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__contacts {
  color: #fff;
  width: 185px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
  line-height: 28px;
  line-height: 1.696969696969697rem;
  padding-left: 30px;
  position: relative;
}
.header__phone::before,
.header__hours::before {
  content: '';
  position: absolute;
  background-image: url('../images/sprite1.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 25px;
  left: 0;
}
.header__phone::before {
  background-position: -31px -113px;
}
.header__hours::before {
  background-position: -7px -106px;
}
.header__bottom-line-flex {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.no-flexbox .header__logo {
  margin-top: 15px;
  display: inline-block;
}
.no-flexbox .header__contacts {
  float: right;
  margin-top: 20px;
}
/* ==========================================================================
   Navigation
   ========================================================================== */
.nav {
  height: 80px;
  display: table;
}
.nav__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
.nav__items > li {
  display: inline-block;
  margin-right: -2px;
  padding: 7px 15px 3px 15px;
}
.nav__items > li a {
  color: #009dd7;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 800;
}
.nav__items > li:first-child {
  margin-left: -15px;
}
.nav__items > li a:hover {
  text-decoration: none;
}
.nav__items > li > a {
  padding: 0 0 6px;
  display: inline-block;
}
.nav__items > li.active {
  background-color: #009dd7;
  border-radius: 15px;
}
.nav__items > li.active a {
  color: #fff;
  text-decoration: none;
}
.nav__items > li ul {
  display: none;
}
.nav__items > li:last-child {
  margin-right: 0;
}
.nav-arr {
  width: 7px;
  height: 5px;
  display: inline-block;
  left: 5px;
  position: relative;
  top: -1px;
  background: url('../images/menu-arr-down-b.png') no-repeat;
}
.nav__item-container {
  position: relative;
  width: 135px;
  padding: 10px 15px 0 15px;
  z-index: 105;
}
.nav__item-container ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 0;
  padding-bottom: 15px;
  background-color: #009dd7;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  position: absolute;
  width: 135px;
  overflow: hidden;
  margin-left: -15px;
  height: auto;
  min-height: 50px;
}
.nav__item-container ul li {
  height: 24px;
}
.nav__item-container ul li:hover {
  background-color: #24c4ff;
}
.nav__item-container ul li.active {
  background-color: #24c4ff;
}
.nav__item-container ul a {
  text-transform: none;
  font-size: 13px;
  font-size: 0.7878787878787878rem;
  line-height: 24px;
  line-height: 1.4545454545454546rem;
  display: inline-block;
  width: 100%;
  font-weight: normal;
  padding: 0 10px;
}
.nav__item-container.active .nav-arr {
  background: url('../images/menu-arr-down.png') no-repeat;
}
.nav__item-container.active:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav__item-container:hover {
  background-color: #009dd7;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.nav__item-container:hover a {
  color: #fff;
  text-decoration: none;
}
.nav__item-container:hover > ul {
  display: block;
}
.nav__item-container:hover .nav-arr {
  background: url('../images/menu-arr-down.png') no-repeat;
}
.no-flexbox .header .btn-volume {
  float: right;
  margin-top: -60px;
}
/* ==========================================================================
   Search input
   ========================================================================== */
.search form {
  /*display: -webkit-box;
	display: flex;
	flex-direction: row;*/
  position: relative;
  width: 620px;
}
.search .custom-text {
  width: 620px;
}
.place_holder {
  z-index: 100;
  left: 10px;
  cursor: text;
  position: absolute;
  top: 12px;
  left: 20px;
  display: none;
  font-style: italic;
  color: #303030;
}
.placeinput input:invalid + .place_holder {
  display: inline;
}
.placeinput input:focus + .place_holder {
  display: none;
}
.placeinput {
  position: relative;
  overflow: hidden;
  display: block;
}
.place_holder a {
  color: #009dd7;
  border-bottom: 1px dashed #009dd7;
  text-decoration: none;
}
.btn-search {
  width: 30px;
  height: 30px;
  background: transparent url('../images/sprite1.png') 0 0 no-repeat;
  padding: 0;
  border: none;
  position: absolute;
  right: 0;
  top: 20%;
}
/* ==========================================================================
   Main slider
   ========================================================================== */
.slides-section {
  position: relative;
  overflow: hidden;
  height: 360px;
  width: 940px;
  margin: 40px 0;
  border-radius: 15px;
  box-shadow: 0 25px 20px -16px rgba(131, 147, 155, 0.9);
}
.slides {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  height: 300px;
}
.slides > li {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
.slides div {
  height: 360px;
}
.slides img {
  display: block;
  width: 100%;
  height: auto;
}
.slides a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.main-slider__inner-block {
  width: 100%;
  height: auto;
  min-height: 140px;
  text-align: center;
  font-size: 22px;
  font-size: 1.3333333333333333rem;
  line-height: 26px;
  line-height: 1.5757575757575757rem;
  padding: 15px 20px;
}
.inner-slider {
  width: 300px;
  height: auto;
  min-height: 140px;
  background-color: #fdbc49;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  position: absolute;
  top: 18px;
  right: 0;
  overflow: hidden;
}
.main-slider__inner-addr {
  background: url('../images/slider-point.png') 0 50% no-repeat;
  padding-left: 20px;
}
.slides-text {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 0;
}
.slides-pagination {
  position: absolute;
  right: 110px;
  top: 135px;
}
.slides-pagination a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 2px;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  text-indent: -9999px;
}
.slides-pagination a:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  background: #004353;
}
.slides-pagination a.selected {
  border-color: #004353;
}
.slides-pagination a:hover:after {
  background-color: #004353;
}
/* ==========================================================================
   Products on main page
   ========================================================================== */
.main-production {
  margin: 65px 0;
}
.main-production__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.main-production__item {
  width: 185px;
  text-align: center;
}
.main-production__item-text {
  text-decoration: underline;
  color: #009dd7;
  margin-top: 25px;
  display: inline-block;
}
.main-production__item-text:hover {
  color: #fdbc49;
}
.no-flexbox .main-production__item {
  display: inline-block;
  vertical-align: top;
}
/*hover effect*/
.grid {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.grid figure {
  position: relative;
  min-width: 150px;
  max-width: 150px;
  max-height: 150px;
  height: auto;
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.grid figure figcaption {
  padding: 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
figure.effect-apollo {
  border-radius: 50%;
  overflow: hidden;
}
figure.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
/* ==========================================================================
   Why we?
   ========================================================================== */
.whywe {
  background-color: #e9eded;
  padding: 50px 0 60px;
}
.whywe__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  /* Safari */
  /* Safari 6.1+ */
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
}
.whywe__item {
  width: 260px;
  margin-bottom: 60px;
}
.whywe__item-area {
  background-color: #7be1fc;
  border-radius: 7px;
  width: 100%;
  height: 70px;
  position: relative;
  font-size: 20px;
  font-size: 1.2121212121212122rem;
  font-weight: 600;
  padding-left: 110px;
  display: table;
}
.whywe__item-area span {
  display: table-cell;
  vertical-align: middle;
  line-height: 22px;
  line-height: 1.3333333333333333rem;
}
.whywe__item-area::before {
  background-image: url('../images/sprite-main.png');
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  width: 107px;
  height: 107px;
}
.whywe__item--1 .whywe__item-area::before {
  background-position: 0 0;
  top: -50px;
  left: 2px;
}
.whywe__item--2 .whywe__item-area::before {
  background-position: -104px 0;
  top: -40px;
  left: 2px;
}
.whywe__item--3 .whywe__item-area::before {
  background-position: -210px 0;
  top: -37px;
  left: 8px;
}
.whywe__item--4 .whywe__item-area::before {
  background-position: -225px -225px;
  width: 115px;
  top: -50px;
  left: 7px;
}
.whywe__item--5 .whywe__item-area::before {
  background: none;
}
.whywe__item--6 .whywe__item-area::before {
  background-position: 0 -111px;
  top: -57px;
  left: 20px;
}
.whywe__item--7 .whywe__item-area::before {
  background-position: -106px -111px;
  top: -44px;
  left: 20px;
}
.whywe__item--8 .whywe__item-area::before {
  background: none;
}
.whywe__item--9 .whywe__item-area::before {
  background-position: -213px -111px;
  width: 130px;
  top: -37px;
  left: 20px;
}
.whywe__item-text {
  font-size: 16px;
  font-size: 0.9696969696969697rem;
  line-height: 20px;
  line-height: 1.2121212121212122rem;
  display: inline-block;
  margin-top: 15px;
  padding-left: 25px;
  position: relative;
}
.whywe__item-text::before {
  content: '—';
  position: absolute;
  width: 21px;
  height: 5px;
  left: 0;
}
.main-big-font {
  position: absolute;
  top: 5px;
  left: 30px;
  font-family: 'Parangon 210C';
  font-size: 72px;
  font-size: 4.363636363636363rem;
  font-weight: normal;
}
.whywe__item--5 .main-big-font {
  position: absolute;
  top: 13px;
  left: 30px;
  font-size: 85px;
  font-size: 5.151515151515151rem;
  font-family: 'Parangon 220C';
}
.whywe__item--5 .main-big-font sup {
  font-size: 48px;
  font-size: 2.909090909090909rem;
  font-family: 'Parangon 310C';
}
.whywe__item--5 .pd-l {
  padding-left: 40px;
}
.no-flexbox .whywe__items {
  margin-top: 70px;
}
.no-flexbox .whywe__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}
.no-flexbox .whywe__item:nth-child(3n+3) {
  margin-right: 0;
}
/* ==========================================================================
   Objects slider
   ========================================================================== */
.objects__slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  height: 290px;
  width: 100%;
  margin-top: 35px;
}
.objects__slider li {
  border: 1px solid #e9eded;
  border-radius: 15px;
  width: 300px!important;
  height: 290px;
  float: left;
  margin-right: 19px;
  overflow: hidden;
}
.objects__slider img {
  max-width: 100%;
}
.objects__slider-label {
  display: block;
  padding: 25px 50px 30px;
  width: 100%;
  height: 90px;
  text-align: center;
  z-index: 150;
  position: relative;
}
.objects__slider-label a:hover {
  color: #fdbc49;
}
.objects__slider-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.objects__slider-img img {
  max-width: 100%;
}
.objects__pagination {
  width: 138px;
  height: 35px;
  margin: 0 auto;
  z-index: 150;
  position: relative;
  margin-bottom: 55px;
}
.objects__pagination span {
  background-image: url('../images/sprite1.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
}
.objects-prev {
  background-position: -32px -43px;
  left: 0;
}
.objects-prev:hover {
  background-position: -86px -43px;
}
.objects-next {
  background-position: -32px 1px;
  right: 0;
}
.objects-next:hover {
  background-position: -86px 0;
}
.objects .h1 {
  margin-bottom: 35px;
  margin-top: 55px;
}
/* ==========================================================================
   Sale
   ========================================================================== */
.main-sale {
  background-color: #e9eded;
  background-image: linear-gradient(to bottom, #e9eded, #ffffff);
  padding: 30px 0 0;
  height: 620px;
}
.main-sale .container {
  position: relative;
}
.main-sale__bubble {
  font-weight: 300;
  font-size: 36px;
  font-size: 2.1818181818181817rem;
  line-height: 46px;
  line-height: 2.787878787878788rem;
  width: 340px;
  height: 180px;
  border-radius: 20px;
  border: 2px solid #7be1fc;
  position: absolute;
  top: 138px;
  z-index: 100;
  text-align: center;
  padding: 20px;
  left: 0;
}
.main-sale__img {
  width: 400px;
  margin: 104px auto 170px;
  padding-left: 20px;
}
.curve {
  width: 607px;
  height: 677px;
  border-radius: 568px;
  border-bottom: 2px solid #7be1fc;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  position: absolute;
  top: -260px;
  left: 95px;
  transform: rotate(2deg);
}
.main-sale__bubble::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #7be1fc;
  border-radius: 10px;
  bottom: -25px;
  right: -269px;
}
.main-sale__bubble::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #7be1fc;
  border-radius: 10px;
  bottom: -5px;
  left: 50%;
}
.main-sale__form {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 300px;
  height: 430px;
  border-radius: 17px;
  overflow: hidden;
}
.main-sale__top-area {
  background: rgba(239, 179, 15, 0.7);
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 35px 20px 30px;
}
.main-sale__counter {
  background: rgba(239, 179, 15, 0.45);
  height: 130px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.main-sale__border {
  background: transparent;
  height: 2px;
  width: 100%;
  border-bottom: 2px dotted rgba(239, 179, 15, 0.7);
  position: relative;
  left: -2px;
}
.main-sale__form-text {
  font-size: 20px;
  font-size: 1.2121212121212122rem;
  line-height: 24px;
  line-height: 1.4545454545454546rem;
  margin-bottom: 15px;
  display: inline-block;
}
.main-sale__top-area .custom-text {
  font-size: 18px;
  font-size: 1.0909090909090908rem;
  font-weight: 300;
  width: 100%;
  margin-bottom: 10px;
}
.main-sale__top-area .custom-text::-webkit-input-placeholder {
  color: #004353;
}
.main-sale__top-area .custom-text::-moz-placeholder {
  color: #004353;
}
/* Firefox 19+ */
.main-sale__top-area .custom-text:-moz-placeholder {
  color: #004353;
}
/* Firefox 18- */
.main-sale__top-area .custom-text:-ms-input-placeholder {
  color: #004353;
}
.main-sale__counter-text {
  font-weight: 600;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
  text-transform: uppercase;
}
.result {
  background: url('../images/ok.png') no-repeat;
  text-align: center;
}
.result p {
  font-size: 24px;
  font-size: 1.4545454545454546rem;
  font-weight: 400;
  line-height: 5px;
  line-height: 0.30303030303030304rem;
}
.main-sale__result {
  background-position: 50% 30px;
  display: none;
  padding-top: 115px;
}
.main-sale__back {
  text-decoration: underline;
  color: #004353;
  font-size: 17px;
  font-size: 1.0303030303030303rem;
  display: none;
  position: absolute;
  top: 41%;
  left: 22%;
}
.main-sale__back:hover {
  color: #004353;
  text-decoration: none;
}
/* ==========================================================================
   Sale Count
   ========================================================================== */
.countdownHolder {
  height: 40px;
  margin-top: 15px;
}
.position {
  display: inline-block;
  height: 38px;
  overflow: hidden;
  position: relative;
  width: 25px;
  margin: 0;
}
.countdownHolder p {
  font-size: 12px;
  font-size: 0.7272727272727273rem;
  position: relative;
  top: -15px;
  text-align: center;
  color: #004353;
}
.digit {
  position: absolute;
  top: 12px;
  text-align: left;
  font-family: 'PF Din Display Pro';
  font-size: 48px;
  font-size: 2.909090909090909rem;
  left: 0;
  bottom: -10px;
}
.digit.static {
  font-family: 'PF Din Display Pro';
  font-size: 48px;
  font-size: 2.909090909090909rem;
}
.countDays,
.countHours,
.countMinutes {
  margin: 0;
  display: inline-block;
  height: 100%;
  width: 60px;
  margin-right: 7px;
}
.indicator {
  width: 100%;
  height: 100%;
}
.countSeconds {
  display: inline-block;
  height: 100%;
  width: 60px;
}
.timer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  border-spacing: 5px;
  background-color: rgba(205, 218, 226, 0.95);
  width: 400px;
  bottom: 7px;
}
#actDate {
  display: none;
}
/* ==========================================================================
   Advantages
   ========================================================================== */
.advantages {
  padding: 40px 0;
}
.advantages .h1 {
  color: #fff;
}
.advantages__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 60px;
}
.advantages__item {
  width: 236px;
  height: 50px;
  color: #fff;
  position: relative;
  padding-left: 70px;
  margin-bottom: 45px;
  line-height: 50px;
  line-height: 3.0303030303030303rem;
  font-weight: 700;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
}
.advantages__item span {
  width: 175px;
  line-height: 21px;
  line-height: 1.2727272727272727rem;
  display: inline-block;
}
.advantages__item::before {
  background-image: url('../images/sprite-main.png');
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  left: 0;
}
.advantages__item--1.advantages__item::before {
  background-position: 0 0;
  width: 50px;
  height: 50px;
  content: 'RUS';
  font-family: 'Parangon 210C';
  font-size: 36px;
  font-size: 2.1818181818181817rem;
  background: none;
  color: #7be1fc;
}
.advantages__item--2.advantages__item::before {
  background-position: -52px -225px;
  width: 50px;
  height: 50px;
}
.advantages__item--3.advantages__item::before {
  background-position: 0 -283px;
  width: 50px;
  height: 50px;
}
.advantages__item--4.advantages__item::before {
  background-position: 0 -225px;
  width: 50px;
  height: 50px;
}
.advantages__item--5.advantages__item::before {
  background-position: -104px -225px;
  width: 50px;
  height: 50px;
}
.advantages__item--6.advantages__item::before {
  background-position: -52px -282px;
  width: 50px;
  height: 50px;
}
.no-flexbox .advantages__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}
.no-flexbox .advantages__item:nth-child(3n+3) {
  margin-right: 0;
}
/* ==========================================================================
   Info on main page
   ========================================================================== */
.main-info {
  margin-top: 85px;
}
.flex-cont {
  display: -webkit-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}
.main-info__block {
  width: 300px;
  margin-right: 20px;
}
.main-info__block:last-child {
  margin-right: 0;
}
.main-info__news-date {
  color: #004353;
  font-size: 12px;
  font-size: 0.7272727272727273rem;
  font-weight: 700;
}
.main-info__partners-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-info__partners-item {
  margin-bottom: 30px;
}
.main-info__partners-item:last-child {
  margin-bottom: 0;
}
.main-info__news {
  overflow: hidden;
}
.no-flexbox .main-info__block {
  display: inline-block;
  vertical-align: top;
  width: 296px;
}
/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  margin-top: 85px;
}
.footer__top-line {
  height: 125px;
}
.footer__flex-cont {
  display: -webkit-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  height: 125px;
  width: 100%;
}
.footer__nav {
  width: 640px;
  margin-top: 20px;
}
.footer__nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__nav-item {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  margin-right: 30px;
}
.footer__nav-item a {
  color: #93c0cd;
  text-decoration: underline;
}
.footer__nav-item a:hover {
  text-decoration: none;
}
.footer__bottom-line {
  height: 42px;
  line-height: 42px;
  line-height: 2.5454545454545454rem;
}
.footer__dev {
  float: right;
}
.footer__dev-text {
  display: inline-block;
  margin-right: 10px;
}
.footer__contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #93c0cd;
  font-size: 12px;
  font-size: 0.7272727272727273rem;
  line-height: 20px;
  line-height: 1.2121212121212122rem;
}
.footer__contact {
  position: relative;
  padding-left: 20px;
}
.footer__contact::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 18px;
  left: 0;
  background: url('../images/sprite1.png') no-repeat;
}
.footer__contact--addr.footer__contact::before {
  background-position: -34px -173px;
}
.footer__contact--phone.footer__contact::before {
  background-position: -17px -170px;
}
.footer__contact--email.footer__contact::before {
  background-position: 0 -167px;
}
.footer__logo {
  margin-right: 162px;
}
.footer__wrap {
  margin-top: 7px;
}
.no-flexbox .footer__nav {
  top: 20px;
  position: relative;
}
.no-flexbox .footer__wrap {
  float: right;
  margin-top: -11px;
}
/* ==========================================================================
   Path
   ========================================================================== */
.path {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 22px 0 45px;
}
.path__item {
  display: inline-block;
  position: relative;
  height: 17px;
  line-height: 17px;
  line-height: 1.0303030303030303rem;
}
.path__item:not(:last-child) {
  margin-right: 18px;
}
.path__item:not(:last-child)::after {
  content: '→';
  position: absolute;
  width: 13px;
  height: 7px;
  top: 0;
  right: -15px;
}
.path__item a {
  color: #004353;
}
.path__item a:hover {
  text-decoration: none;
}
.path__item--home {
  background: url('../images/sprite1.png') 0 -85px no-repeat;
  width: 17px;
  height: 17px;
  position: relative;
  top: 2px;
}
.path__item--home a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.path__item--home::after {
  top: 2px!important;
}
/* ==========================================================================
   Catalog - level1
   ========================================================================== */
.category {
  height: 242px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #e9eded;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.category:hover {
  border: 2px solid #7be1fc;
}
.category__img {
  width: 300px;
  height: 100%;
  overflow: hidden;
  text-align: left;
  margin: 0;
}
.category__img img {
  width: 100%;
}
.category__desc {
  position: absolute;
  top: 0;
  left: 300px;
  padding: 20px 20px 10px;
}
.category__desc-text {
  font-size: 16px;
  font-size: 0.9696969696969697rem;
  line-height: 20px;
  line-height: 1.2121212121212122rem;
}
.category__desc-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 15px 0;
}
.category__desc-item {
  padding-left: 28px;
  color: #7b9298;
  font-weight: 600;
  position: relative;
  line-height: 20px;
  line-height: 1.2121212121212122rem;
}
.category__desc-item::before {
  content: '';
  position: absolute;
  background-image: url('../images/sprite1.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 20px;
  left: 0;
}
.category__desc-item--quality.category__desc-item::before {
  background-position: -31px -87px;
}
.category__desc-item--bestprice.category__desc-item::before {
  background-position: -56px -87px;
}
.category__desc-item--lifecycle.category__desc-item::before {
  background-position: -78px -87px;
}
/* ==========================================================================
   Catalog - level2
   ========================================================================== */
.catalog-lev2__flex-cont {
  margin: 15px 0 30px;
  display: -webkit-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
.product {
  height: 400px;
  width: 300px;
  border-radius: 15px;
  border: 2px solid #e9eded;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  margin-right: 10px;
}
.product:hover {
  border: 2px solid #7be1fc;
}
.product__link {
  display: table;
  text-align: center;
  width: 100%;
}
.product__img {
  margin: 0;
  text-align: center;
  height: 235px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  width: 300px;
}
.product img {
  max-height: 100%;
  max-width: 100%;
}
.product__desc {
  padding: 20px 15px 0;
}
.product__desc p {
  color: #004353;
}
.product__desc .btn--blue {
  width: 105px;
  margin: 0 auto;
}
.catalog-objects {
  position: relative;
}
.catalog-objects .objects__pagination {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.no-flexbox .product {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
/* ==========================================================================
   Catalog - card
   ========================================================================== */
.card__slider-fullview {
  width: 490px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #bcc7c9;
}
.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.gallery li {
  width: 100%;
  height: 350px;
  display: table;
}
.gallery__img {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.gallery__img a {
  cursor: default;
}
.gallery__img img {
  max-width: 100%;
  max-height: 100%;
}
.card__slider-thumbs {
  width: 375px;
  height: 95px;
  margin: 15px auto 0;
  overflow: hidden;
}
.gallery__thumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.gallery__thumbs li {
  display: inline-block;
  width: 112px;
  height: 92px;
  border-radius: 15px;
  border: 2px solid #e9eded;
  cursor: pointer;
  overflow: hidden;
  margin-right: 10px;
}
.gallery__thumbs li.selected {
  border: 2px solid #7be1fc;
}
.gallery__thumbs li img {
  width: 100%;
  max-height: 100%;
}
.gallery__thumbs-img {
  margin: 0;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}
.gallery__thumbs-img a {
  display: table-cell;
  vertical-align: middle;
}
.card__pagination {
  position: relative;
}
.card__pagination span {
  background-image: url('../images/sprite1.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
}
.card__pagination .objects-prev,
.card__pagination .objects-next {
  top: 30%;
}
.card__slider {
  width: 490px;
  position: relative;
}
.card__desc {
  width: 300px;
}
.card__desc .btn {
  display: inline-block;
}
.card__flex-cont {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.no-flexbox .card__slider {
  float: left;
}
.no-flexbox .card__desc {
  float: right;
}
.no-flexbox .tabs__table {
  display: inline-block;
  vertical-align: top;
}
.no-flexbox .tabs__table:last-child {
  margin-right: 0;
}
.card__desc-header {
  font-size: 24px;
  font-size: 1.4545454545454546rem;
  font-weight: 600;
}
.card__desc p {
  color: #004353;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
.card__desc-price {
  background-color: #fdbc49;
  padding: 15px;
  border-radius: 15px;
}
.card__desc-price-text {
  display: block;
  font-size: 18px;
  font-size: 1.0909090909090908rem;
  line-height: 26px;
  line-height: 1.5757575757575757rem;
  font-weight: 700;
}
.card__desc-price-text--smaller {
  font-size: 16px;
  font-size: 0.9696969696969697rem;
  font-weight: 600;
}
.card__desc-price-text--dashed {
  border-bottom: 1px dashed #004353;
  text-decoration: none;
  color: #004353;
}
.card__desc-price-text--dashed:hover {
  color: #004353;
  border-bottom: none;
}
.card__desc-price-text .rub:after {
  font-weight: 600;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
}
.card__desc-where {
  padding-left: 20px;
  margin: 25px 0 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
  font-weight: 600;
  position: relative;
}
.card__desc-where::before {
  content: '';
  position: absolute;
  background: url('../images/sprite1.png') -68px -114px no-repeat;
  width: 15px;
  height: 18px;
  left: 0;
}
.card__desc-where:hover {
  color: #009dd7;
}
.card__desc-where span {
  border-bottom: 1px dashed #009dd7;
}
.card__desc-where span:hover {
  border-bottom: none;
}
.tabs {
  margin: 50px 0 35px;
  border: 1px solid #bcc7c9;
  border-radius: 5px;
  overflow: hidden;
}
.tabs__table-header {
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  padding-left: 10px;
}
.tabs__panel {
  padding: 30px 30px 45px;
}
.tabs__tables-flex-cont {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.tabs__table {
  width: 340px;
  margin-right: 100px;
}
.tabs__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #bcc7c9;
}
.tabs__menu li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  background: #ffffff;
}
.tabs__menu li span {
  color: #009dd7;
  border-bottom: 1px dashed #009dd7;
  font-weight: 600;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
}
.tabs__menu li.current {
  cursor: default;
}
.tabs__menu li.current span {
  color: #004353;
  border-bottom: none;
}
.tabs__menu li.current:after,
.tabs__menu li.current:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  pointer-events: none;
}
.tabs__menu li.current::after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.tabs__menu li.current::before {
  border-color: rgba(130, 133, 140, 0);
  border-top-color: #bcc7c9;
  border-width: 8px;
  margin-left: -8px;
}
.toemail-block .btn--blue {
  display: inline-block;
}
.toemail-block .custom-text {
  width: 245px;
  margin-right: 10px;
  height: 33px;
}
.toemail {
  background: url(../images/toemail.png) no-repeat;
  display: inline-block;
  padding-left: 35px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #13566f;
  line-height: 16px;
  margin-right: 10px;
}
.print-this {
  background: url(../images/print.png) no-repeat;
  display: inline-block;
  padding-left: 35px;
  color: #00b5d8;
  height: 26px;
  margin: 15px 0 50px;
  text-decoration: underline;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
.component {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 75px 0;
}
.component .card__desc-where {
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  display: inline-block;
  margin-top: 10px;
}
.component .btn--blue {
  display: inline-block;
  margin-left: 20px;
}
.no-flexbox .component__pic,
.no-flexbox .component__info,
.no-flexbox .component__price {
  float: left;
  margin-right: 20px;
}
.no-flexbox .component__price {
  margin-right: 0;
}
.component__pic {
  display: table;
  width: 250px;
  height: 230px;
}
.component__img {
  margin: 0;
  text-align: center;
  border: 1px solid #bcc7c9;
  border-radius: 15px;
  background-color: #e9eded;
  display: table-cell;
  vertical-align: middle;
}
.component__img img {
  max-height: 100%;
  max-width: 100%;
}
.component__info {
  width: 342px;
}
.component__header {
  font-size: 24px;
  font-size: 1.4545454545454546rem;
  font-weight: 600;
  margin-bottom: 30px;
  display: block;
  white-space: nowrap;
}
.component__price {
  width: 300px;
  margin-top: 45px;
}
.card__is {
  display: block;
  margin-top: 15px;
  padding-left: 20px;
  position: relative;
}
.card__is::before {
  content: '';
  position: absolute;
  background-image: url('../images/sprite1.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  left: 0;
}
.card__is--yes.card__is::before {
  background-position: -104px -88px;
}
.card__is--no.card__is::before {
  background-position: -104px -113px;
}
.product__desc-price {
  display: block;
  margin-top: 35px;
  font-size: 15px;
  font-size: 0.9090909090909091rem;
  font-weight: 700;
}
.product__desc-price .rub::after {
  font-weight: 600;
}
.product__desc-dealerprice {
  font-size: 15px;
  font-size: 0.9090909090909091rem;
  font-weight: 600;
  line-height: 20px;
  line-height: 1.2121212121212122rem;
}
.product__desc-dealerprice--dashed {
  color: #009dd7;
  text-decoration: none;
  border-bottom: 1px dashed #009dd7;
}
.product__desc-dealerprice--dashed:hover {
  color: #009dd7;
}
/* ==========================================================================
   Price-list
   ========================================================================== */
.price-list .custom-table td:nth-child(1) {
  width: 290px;
}
.price-list .custom-table td:nth-child(2) {
  width: 530px;
  padding-right: 60px;
}
.price-list .custom-table td:nth-child(3) {
  width: 120px;
}
.price-list__desc {
  margin: 0;
  font-size: 12px;
  font-size: 0.7272727272727273rem;
}
.price-list__section {
  font-weight: 700;
  margin-left: 12px;
  display: inline-block;
}
.price-list__preview {
  display: none;
  width: 105px;
  height: 97px;
  position: absolute;
  border-radius: 20px;
  border: 2px solid #7be1fc;
  background: #e9eded;
  left: 115%;
  top: -40px;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.price-list__preview::before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #7be1fc;
  border-width: 10px;
  margin-top: -10px;
}
.price-list__prod {
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  margin-left: 30px;
  display: inline-block;
  position: relative;
}
.price-list__prod:hover .price-list__preview {
  display: block;
  overflow: hidden;
}
.price-list__align {
  display: table;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.price-list__img {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
.price-list__img img {
  max-height: 100%;
  width: 95px;
}
/* ==========================================================================
   Contacts
   ========================================================================== */
.send-form {
  width: 482px;
  text-align: right;
}
.send-form .custom-text {
  width: 100%;
  margin-bottom: 15px;
}
.send-form .custom-textarea {
  width: 100%;
  margin-bottom: 15px;
  height: 110px;
}
.send-form .btn {
  display: inline;
}
.send-form a {
  margin-right: 120px;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
}
.map {
  width: 100%;
  height: 530px;
  margin: 35px 0;
}
.contacts__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  display: none;
}
.contacts__items--active {
  display: block;
}
.contacts__item {
  padding-left: 30px;
  line-height: 28px;
  line-height: 1.696969696969697rem;
  font-size: 16px;
  font-size: 0.9696969696969697rem;
  position: relative;
}
.contacts__item::before {
  content: '';
  position: absolute;
  background-image: url('../images/sprite1.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 21px;
  left: 0;
}
.contacts__item--addr.contacts__item::before {
  background-position: -84px -111px;
}
.contacts__item--phone.contacts__item::before {
  background-position: -46px -144px;
  top: 2px;
}
.contacts__item--email.contacts__item::before {
  background-position: -88px -137px;
}
.contacts__item--scheme.contacts__item::before {
  background-position: -65px -143px;
  top: 3px;
}
.contacts__groups {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 30px 0 37px;
  position: relative;
}
.contacts__group {
  font-size: 24px;
  font-size: 1.4545454545454546rem;
  font-weight: 600;
  display: inline-block;
  color: #009dd7;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
}
.contacts__group span {
  border-bottom: 1px dashed #009dd7;
}
.contacts__group--active {
  background-color: #009dd7;
  color: #fff;
  border-radius: 20px;
  position: relative;
}
.contacts__group--active span {
  border-bottom: none;
  z-index: 6;
  position: relative;
}
.contacts__choose {
  position: absolute;
  width: 220px;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  font-weight: 600;
  border: 1px solid #bcc7c9;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline;
  padding: 9px 75px 9px 30px;
  cursor: pointer;
  z-index: 5;
  color: #004353;
  top: 0;
  right: 410px;
}
.contacts__choose::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 12px;
  right: 9px;
  top: 24%;
  background: url('../images/sprite1.png') -112px -141px no-repeat;
}
.contacts__choose-items {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  padding: 20px 15px 15px;
  height: 200px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 15;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 300px;
  right: 310px;
}
.contacts__choose-items.display {
  display: -webkit-box;
  display: inline-flex;
}
.contacts__choose-item {
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  font-weight: 600;
  color: #004353;
  display: block;
  text-decoration: underline;
  margin: 0 20px 10px 0;
  width: 125px;
  cursor: pointer;
}
.contacts__choose-item:hover {
  color: #009dd7;
}
.contacts-menu {
  position: relative;
}
/* ==========================================================================
   Modal Windows
   ========================================================================== */
.modal {
  padding: 20px;
}
.modal .custom-text {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.modal .btn {
  float: right;
  margin-top: 20px;
}
.modal__header {
  font-size: 30px;
  font-size: 1.8181818181818181rem;
  font-weight: 300;
  margin: 5px 0 25px 5px;
  display: block;
}
.modal__comment {
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  position: relative;
  top: 30px;
  left: 5px;
}
.recall .modal {
  width: 530px;
}
.recall__result {
  background-position: 50% 10px;
  padding-top: 95px;
  margin-bottom: 20px;
}
.order-form textarea {
  width: 100%;
  height: 90px;
}
.spinner-block {
  background-color: #dfdfdf;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 0 16px;
}
.custom-text.spinner-input {
  width: 55px;
  height: 35px;
  display: inline-block;
  position: relative;
  left: 32px;
}
#prod {
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  position: relative;
  top: 3px;
}
/* --- */
.custom-spinner {
  width: 120px;
  position: relative;
  display: inline-block;
  top: 3px;
  margin-left: 80px;
}
.custom-spinner .custom-text {
  text-align: center;
  margin: 0;
  box-shadow: none;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
.custom-spinner .custom-text:disabled {
  background-color: #F6F9FA;
  color: #B5B5B5;
}
.custom-spinner-up,
.custom-spinner-down {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../images/sprite1.png') no-repeat;
  text-indent: -9999px;
  border: none;
}
.custom-spinner-up {
  top: 7px;
  right: 0;
  background-position: -80px -170px;
}
button.custom-spinner-up[disabled] {
  cursor: pointer;
}
.custom-spinner-down {
  left: 0;
  background-position: -53px -170px;
  top: 7px;
}
.dealerprice .modal {
  width: 540px;
}
.became .custom-textarea {
  width: 100%;
}
.became .place_holder {
  color: #004353;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
  font-style: normal;
  left: 15px;
}
.became .place_holder span {
  color: red;
}
.maps {
  margin-bottom: -290px;
}
.maps .contacts__items {
  display: block;
}
.maps .modal {
  padding: 0;
}
.maps__map {
  width: 650px;
  height: 100%;
  height: 290px;
  float: left;
}
.maps__addr {
  margin-left: 665px;
}
.maps__addr-items,
.maps__contacts-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.maps__addr-items {
  padding: 35px 0 0 0;
  color: #009dd7;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.8484848484848485rem;
}
.maps__contacts-items {
  display: none;
  margin: 5px 0;
}
.maps__contacts-item {
  font-size: 12px;
  font-size: 0.7272727272727273rem;
}
.maps__addr-item {
  cursor: pointer;
  margin-bottom: 7px;
}
.maps__addr-item.maps__addr-item--active {
  padding: 10px 0 10px 10px;
  color: #fff;
  background-color: #009dd7;
  border-radius: 15px;
  margin: 7px 0;
}
.maps__addr-item.maps__addr-item--active .maps__contacts-items {
  display: block;
}
.printimg {
  display: none;
}
