@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
@font-face {
  font-family: 'als_rublregular';
  src: url('../fonts/rouble-webfont.eot');
  src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.ttf') format('truetype'), url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe ExtraLight';
  src: url('../fonts/CirceExtraLight.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Bold';
  src: url('../fonts/CirceBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../fonts/CirceExtraBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Thin';
  src: url('../fonts/CirceThin.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Light';
  src: url('../fonts/CirceLight.otf');
  font-weight: normal;
  font-style: normal;
}
*{
	outline: none;
}
.icon-rub {
  font-family: 'als_rublregular';
}
.icon-rub:after {
  position: relative;
  content: 'a';
  font-weight: 300;
  text-transform: none;
}
.extraB{
	font-family: 'Circe ExtraBold';
}
.h2{
	font-size: 24px;
	font-weight: 700;
}
.link-dashed{
	color: #00a8ff;
	border-bottom: 1px dashed #00a8ff;
	font-size: 16.4px;
	text-decoration: none;
}
/*------------------------------------------------------------------*/
.clear{
  clear: both;
}
/*.layout {
  min-height: 100%;
  min-width: 1200px;
}*/
.container-fluid {
  width: 1000px;
}
.container-fluid:after,
.container-fluid:before {
  display: table;
  clear: both;
  content: '';
}
.container-fluid:after {
  clear: both;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
html, body{
	margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  min-width: 1200px;
}
body{
	background: transparent;
	font: 13px/16px 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	color: #51585b;
	font-weight: normal;
	display: block;
}
.btn{
	text-transform: uppercase;
	border-radius: 5px;
	padding: 20px 20px 18px 20px;
	border: none;
	font-family: 'Circe';
}
a.btn{
	text-decoration: none;
	font-size: 15px;
	font-family: 'Circe';
}
.btn-orange{
	background: #e06618;
	color: #fff;
}
.btn-orange:hover{
	background: #f67727;	
}
.btn-purple{
	background: #511b45;
	color: #fff;
}
.btn-purple:hover{
	background: #670952;	
}
.ul_list {
  margin: 0;
  padding: 0 0 0px;
  list-style: none;
  line-height: 17px;
}
.ul_list > li {
  margin: 7px 0;
  padding: 0 0 0 25px;
  position: relative;
}
.ul_list > li:after {
  content: '—';
  display: block;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #51585b;
}
/* ==========================================================================
   Header
   ========================================================================== */
.header{
	height: 170px;
	position:fixed;
  	z-index: 1500;
  	background: #fff;
  width: 100%;
}
.nav{
	height: 60px;	
}
.fixed {
	position: fixed;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	z-index: 1500;
}
.non-fixed{
  padding-top: 170px;
  position: relative;
  background: #fff;
    width: 100%;
}
.nav-shadow{
  box-shadow:  5px 5px 5px rgba(0,0,0,0.2);
  height: 60px;
}
.nav-shadow .logo{
	margin-top: 10px;
	
}
.nav-shadow .logo img{
	width:90px;
}
.nav-shadow .nav{
	margin-top: -41px;
}
.nav-shadow .header-contacts{
	display: none;
}
.nav__ul{
	margin: 0;
	padding: 0;
}
.nav__ul li{
	list-style-type: none;
	display: inline;
	line-height: 60px;
	margin-right: 25px;
}
.nav__ul li:last-child{
	margin-right: 0;
}
.nav__ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #58214b;
	font-size: 15px;
	border-bottom: 1px solid #58214b;
	font-weight: 700;
}
.nav__ul li a:hover{
	border-bottom: none;
}
.logo{
	display: block;
	float: left;
	margin-top: 18px;
}
.logo a{
	text-decoration: none;
}
.header-content{
	float: right;
	margin-top: 40px;
}
.header-contacts{
	
}
.header-contacts__phone, .header-contacts__addr{
	background: url('../images/sprites.png') no-repeat;
	float: left;
	margin-right:10px;
	height: 30px;
}
.header-contacts__phone{
	background-position: 0 -46px ;
	width: 12px;
}
.header-contacts__addr{
	background-position: -50px -46px ;
	width: 17px;
}
.header-contacts-nom{
	display: inline-block;
	margin-right: 5px;
}
.header-contacts-text{
	float: left;	
	font-family: Circe;
	font-size: 22px;
	font-size: 16.4px;
	margin-right: 15px;
	margin-top: 5px;
}
.header-contacts-text:last-of-type{
	margin-right: 0;
}

/* ==========================================================================
   Promo
   ========================================================================== */
.promo{
	background: #5D1444;
	height: 410px;
	margin-bottom: 60px;
	/*width:100%;*/
}
.promo .container-fluid{
	position: relative;
	width: 1140px;
	height: 410px;
}
.promo__slogan{
	font-family: 'Circe Light';
	font-size: 62px;
	display: inline-block;
	text-transform: uppercase;
	margin-top: 90px;
}
.promo__price{
	font-size: 36px;
	color: #fff;
	margin-bottom: 25px;
	line-height: 37px;
	font-family: 'Circe';
}
.promo__comment{
	font-size: 36px;
  line-height: 42px;
  font-family: Circe;
  background: #fff;
  border-radius: 5px;
  width: 440px;
  height: 90px;
  color: #93325c;
  margin: 20px auto 15px;
  padding-top: 10px;
}
.promo__content{
	background: #5D1444;
	background: radial-gradient(circle at 305px 175px, rgba(219, 111, 147, 0.63), #8B0C54, #5D1444 77%);
	width:518px;
	text-align: center;
	height: 100%;
	padding-left: 70px;
	position: relative;	
}
.promo__content:after{
  content: '';
  position: absolute;
  background: #fff url('../images/girl4.png') no-repeat;
  width: 535px;
  height: 410px;
  top: 0;
  left: 579px;
  z-index: 5;
}
.toorder{
	margin-top: 3px;
  	display: inline-block;
	box-shadow: 0 5px 2px -3px #aa3000;
}

/* ==========================================================================
   Map
   ========================================================================== */
.map{
	height: 470px;
}
/* ==========================================================================
   Main Text
   ========================================================================== */
.main-text{
	padding: 72px 45px 80px 203px;
	font-size: 16px;
	line-height: 23px;
}
.main-text p{
	margin: 0;
	font-size: 16px;
}
/* ==========================================================================
   Services
   ========================================================================== */
.services{
	background: #511b45;
	padding-top: 23px;
	color: #fff;
	height: 410px;
	box-sizing: border-box;
}
.services__ul{
	margin: 0;
	padding: 0;
}
.services__ul li{
	list-style-type: none;
	float: left;
	width: 286px;
	height: 45px;
	margin-bottom: 15px;
}
.service-link{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	position: relative;
	top: -9px;
	left: 15px;
	border-bottom: 1px dashed #fff;
	color: #fff;
}
.services__li-active .service-link{
	color:#f18444;	
	border-bottom: none;
}
.service-icon{
	background: url('../images/sprites.png') no-repeat;
	width: 45px;
	height: 45px;
	display: inline-block;	
}
.icon-gim{
	background-position: -250.97918701171875px 23px;
}
.icon-training{
	background-position: -93.988617px 13px;
}
.icon-sun{
	background-position: -149.98861694335938px 12px;
}
.icon-aero{
	background-position: -45.979172px 11px;
}
.icon-sauna{
	background-position: -200.97918701171875px 13px;
}
.icon-bar{
	background-position: 6px 15px;
}
.service-text{
	margin-top: 32px;
	line-height: 24px;
	font-size: 14px;
}
/* ==========================================================================
   Model
   ========================================================================== */
.model img{
	margin-left: 31px;
	margin-top: 11px;
}
.model p{
	margin: 0;
}
.model .container-fluid{
	position: relative;	
	padding-top: 89px;
}
.model__label{
	font-size: 16px;
	display: block;
	position: absolute;
}
.model__label--aero{
	top: 83px;
	left: 35px;
}
.model__label--gym{
	top: 83px;
	left: 382px;
}
.model__label--dressroom{
	top: 68px;
	left: 828px;
}
.model__label--bar{
	top: 346px;
	right: 2px;
}
/* ==========================================================================
   Order
   ========================================================================== */
.order{
	background: #e06618;
	padding-bottom: 43px;
	padding-top: 23px;	
}
.order .container-fluid{
	position: relative;
}
.order__form{
	width: 500px;
	margin-top: 37px;
}
.order__form:after{
	content: '';
  background: radial-gradient(circle at 187px 165px, #ecda87, #e06618, #e06618 126%);
  width: 400px;
  height: 410px;
  display: block;
  position: absolute;
  top: -23px;
  right: -12px;
}

.order__card-example{
	background-image: url('../images/card1.png');
	background-repeat: no-repeat;
	width: 408px;
	height: 412px;
	display: block;
	position: absolute;
	top: -60px;
  right: -5px;
}
.custom-label{
	font-size: 16px;
	font-weight: 700;
	display: block;
	margin-bottom: 8px;
}
.custom-text{
	width: 100%;
	border-radius: 4px;
	border: 2px solid #55254a;
	height: 49px;
	margin-bottom: 27px;
	font-size: 18px;
	padding: 0 15px;
	box-sizing: border-box;
}
.order-form-btn{
	float: right;
	margin-top: 13px;
}
.wecall{
	float: left;
	font-size: 16px;
	margin-top: 31px;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer{
	text-align: center;
	padding: 59px 0 15px 0;
	 width: 100%;
}
.footer__slogan{
	font-size: 22px;
	line-height: 22px;
	font-family: 'Circe Light';	
	display: block;
	margin-top: 5px;
}
.tools{
	background: url('../images/tools.png') no-repeat;
	width: 105px;
	height: 87px;
	display: block;
	margin: 30px auto 0;
}
.footer__addr{
	font-size: 16px;
	font-family: 'Circe Light';	
	  margin-top: 14px;
}
.dev {
	float: right;
}
.dev span{
	position: relative;
	top: -1px;
	font-size: 14px;
}

/* ==========================================================================
   Slider
   ========================================================================== */
.slides-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 410px;
  /*margin: 0 0 20px;*/
}
.slides {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}
.slides > li {
  float: left;
  height: 410px;
  width: 100%;
}
.slides-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: #fff;
}
.slides-item:hover {
  color: #fff;
}
.slides-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.slides-item strong {
  display: block;
  position: absolute;
  top: 45px;
  right: 45px;
  text-align: right;
  z-index: 10;
  font: 300 40px/48px 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
}
.slides-item strong small {
  display: block;
  font-size: 28px;
  line-height: 38px;
  padding-top: 10px;
}
.slides-prev:after,
.slides-next:after {
  content: '';
  display: block;
  width: 7px;
  height: 13px;
  background: url(../images/icons.png) 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -3px;
}
.slides-prev:hover,
.slides-next:hover {
  background: rgba(0, 0, 0, 0.4);
}
.slides-prev:active,
.slides-next:active {
  background: rgba(0, 0, 0, 0.5);
}
.slides-prev {
  left: 0;
}
.slides-prev:after {
  background-position: -99px 0;
}
.slides-next {
  right: 0;
}
.slides-next:after {
  background-position: -111px 0;
}
.slides-pagination {
  /*position: absolute;
  right: 45px;
  bottom: -30px;*/
  width: 85px;
  margin: 18px auto 0;
}
.slides-pagination a {
  float: left;
  margin: 0 5px;
  text-indent: -9999px;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #531c46;
}
.slides-pagination a:after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #531c46;
  margin: -8px 0 0 -8px;
  opacity: 0;
  visibility: hidden;
}
.slides-pagination a:hover:after,
.slides-pagination a.selected:after {
  opacity: 1;
  visibility: visible;
}
